
:root {
    --background-color: #080b0e;
    --primary-color: #151b21; /* Объявление переменной */
    --font-size: 16px;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0e141a;
}

/* UQBaLVAAWeIXzqd8vz0OGO5abVpqs47VscVWnHVg3Tlm2NA6 */


.optTabs {
    display: none;
    flex-direction: column;
    margin: 10px 15px 10px 15px;
        background: var(--primary-color);
        padding: 5px;
        border-radius: 10px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
}

.search-bar {
    padding: 16px;
    display: flex;
    gap: 8px;
}

.search-bar input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(hsla(0, 0%, 100%, .07), hsla(0, 0%, 100%, .07)), hsla(0, 0%, 100%, .03);
    color: #ffffff;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #6b7c93;
}

.search-bar input:focus {
    outline: none;
}

.tip {
    color: grey;
    justify-content: center;
    display: flex;
    height: 50vh;
    font-size: 25px;
    align-items: center;
}

.search-button {
    padding: 8px 12px;
    background: linear-gradient(hsla(0, 0%, 100%, 0.144), hsla(0, 0%, 100%, .07)), hsla(0, 0%, 100%, .03);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}

.transStat-container {
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: var(--primary-color);
    margin: 10px 15px 10px 15px;
    background: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
}

.walletList-container, .contractList-container, .commentsList-container, .datesList-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--background-color);
    margin-top: 10px;
}

.contractList-container, .commentsList-container{
    display: none;
}

.stat-item {
    padding: 5px;
    display: flex;
    color: grey;
    cursor: pointer;
    margin: 0;
    height: 30px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.stat-type {
    width: 200px;
}

.stat-count {
    width: 100%;
    color: white;
    text-align: right;
}


.wallItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    background-color: var(--primary-color)
    /* // #17212b; */
}

.statItem:hover {
    background: #373c4b;
}

.wallItem:hover, #walletsTab:hover, #contractsTab:hover, #commentsTab:hover, #datesTab:hover {
    background: #373c4b;
}

.targetAddress {
    color: grey;
    padding: 10px;
    background-color: var(--primary-color);
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
    margin: 10px 15px 10px 15px;
    background: var(--primary-color);


    border-radius: 10px;
}

.s-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.s-container::-webkit-scrollbar {
    width: 5px;
}

.s-container::-webkit-scrollbar-thumb {
    background: #5b89df;
}

.cscroll::-webkit-scrollbar {
    width: 5px;
}

.cscroll::-webkit-scrollbar-thumb {
    background: #5b89df;
}

.overlay::-webkit-scrollbar {
    width: 5px;
}

.overlay::-webkit-scrollbar-thumb {
    background: #5b89df;
}

#walletsTab, #contractsTab, #commentsTab, #datesTab {
    color: rgb(53, 106, 167);
    background-color: var(--primary-color);
    height: 40px;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 10px;
    justify-content: left;
    display: flex;
    align-items: center;
}


    
.menuButton {
    background: #151b21;
    display: flex;
    flex: 1;
    color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.bottomMenu {
    display: flex;
    width: 100%;
    z-index: 200;
    background-color: #080b0e;
}
/* .menu *:hover {
    background-color: #293138;
} */

.overlay {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    max-width: 600px;
    transform: translateY(120%);
    overflow: auto;
}

.overlay.active {
    bottom: 60px;
    transform: translateY(0%);
}

  .menu {
    position: fixed;
    bottom: 0px;
    /* justify-content: center; */
    width: 100%;
    max-width: 600px;
    background: #151b21;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    margin:0;
    height: calc(100% - 60px);

  }

  #closeMenuBtn {
    margin-bottom: 10px;
    padding: 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }
  


  
  #scrollToTopBtn {
    display: none; /* Скрываем кнопку по умолчанию */
    position: fixed;
    bottom: 80px;
    margin-left: 530px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #424a53;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

.backButton, .topButton, .loadButton {
    background: #1e2e3f;
    display: none;
    color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    border-radius: 10px;
}

.backButton.active {
    display: flex;
}







.cscroll {
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 165px;
    display: flex;
    margin: 10px;
}
.activity-calendar {
    display: grid;
    grid-template-columns: repeat(37, 12px); /* 53 недели в году */
    grid-template-rows: repeat(10, 12px);
    gap: 2px;

    margin: 5px;
    max-width: 590px;
    border-radius: 6px;
    width: 100%;
    justify-content: center;
}

.day {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #477dce63; /* Серый для неактивных дней */
    position: relative;
}

.day:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background: #24292e;
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 12px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
}

.count-1 { background: #007bff; }
.count-2 { background: #0269d8; }
.count-3 { background: #0056b3; }
.count-4 { background: #003c7c; }

h1 {
    text-align: center;
    color: #24292e;
    margin-bottom: 20px;
}